* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #FEFFF2;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #312417;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #E8E4D9;
	color: #87B29E;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #E8E4D9;
	color: #312417;
}



/* Style the header */
.footer {
	background-color: #312417;
	padding: 20px;
	text-align: center;
}

/* Style the top navigation bar */
.footer {
	overflow: hidden;
	background-color: #312417;
}

/* Style the topnav links */
.footer a {
	float: left;
	color: #E8E4D9;
	text-align: center;
	padding: 14px 16px;
	background-color: #312417;
	text-decoration: none;
	font-size: 17px;
}

/* Change color on hover */
.footer a:hover {
	background-color: #312417;
	color: #87B29E;
}

